Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
        language_version: python3

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.0.7
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - black
            - isort
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

Open in Colab badges
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

minor
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

[docs] Interactivity tutorial Colabs minor refactor (#778)
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

--Fix loading of stage attributes via json. (#779)
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
Due: clang-format

--Rename for clarity
  docs/conf.py
  docs/pages/attributesJSON.rst
Due: none

--Attributes Templates RST
  docs/conf.py
  docs/pages/attributes.rst
Due: none

--Remove references to unsupported constructs.
  docs/pages/attributes.rst
Due: none

--Return value to stage that was removed;
  docs/pages/attributesJSON.rst
Due: none

--Fix pybind docstring errors.
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

--Add new Attributes tutorial to various doc locations; Fix doc bugs;
  docs/Doxyfile-mcss
  docs/conf.py
  docs/pages/attributesJSON.rst
  docs/pages/image-extractor.rst
  docs/pages/lighting-setups.rst
  docs/pages/rigid-object-tutorial.rst
Due: none

--Make target file name match current configuration, for release.
  docs/pages/attributesJSON.rst
Due: none

--fear of precommitment.
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

--Fix brand new precommit format complaints..
  docs/pages/attributesJSON.rst
Due: none

--Returned navmesh from removed scene section.
  docs/pages/attributesJSON.rst
Due: none

--update to support new docs home page
  docs/pages/index.rst
Due: none

--new asset for testing.
  data/test_assets/objects/donut.glb
  data/test_assets/objects/donut.phys_properties.json
  data/test_assets/scenes/stage_floor1.glb
Due: none

--update gitignore to allow additional files in data/test_assets/
  .gitignore
Due: none

--Removed references to mesh type in documentation.
  docs/pages/attributesJSON.rst
Due: none

--precommit issue.
  data/test_assets/scenes/stage_floor1.stage_config.json
Due: none

--add working stage config
  data/test_assets/scenes/stage_floor1.stage_config.json
Due: none

--add links to example json configuration files.
  docs/pages/attributesJSON.rst
Due: none

--fix JSON example format
  data/test_assets/objects/donut.phys_properties.json
  data/test_assets/scenes/stage_floor1.stage_config.json
Due: none

--forgot some modifiers on donut
  data/test_assets/objects/donut.glb
Due: none

Fix building with make in setup.py
  setup.py
Due: none

--Refactor so that template type is verified to be valid.
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Added and polished docs focused on python Simulator module. (#776)
  habitat_sim/simulator.py
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/LightSetup.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--Address reviewer comments.
  src/esp/assets/managers/AttributesManagerBase.h
Due: clang-format

--Clean up return types.
  src/esp/assets/managers/AttributesManagerBase.h
Due: clang-format

Fix building with make in setup.py (#782)
  setup.py
Due: none

--Reviewer comments
  docs/pages/attributesJSON.rst
Due: none

--[Bug Fix] Verify AttributesManager template type is valid (#783)
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Updated python tutorial with rebase
  examples/tutorials/URDF_robotics_tutorial.py
  habitat_sim/physics.py
Due: none

Update sim submodules
  .gitmodules
  src/cmake/dependencies.cmake
Due: none

Rename eigen submodule
  .gitmodules
Due: none

Make clang-tidy happy
  src/esp/geo/OBB.cpp
Due: clang-format

Add more clang-tidy asserts
  src/esp/geo/OBB.cpp
Due: clang-format

Have vec2f default to NAN
  src/esp/geo/OBB.cpp
Due: clang-format
