Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
        language_version: python3

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.0.7
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - black
            - isort
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

--Remove RM from ManagedContainer
  src/esp/assets/ResourceManager.cpp
  src/esp/core/AbstractManagedObject.h
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Move some create functions to class template
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Promoted JSON load and path multiload to class template
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/tests/SimTest.cpp
Due: clang-format

--Modified python tutorials for new load configs
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
Due: jupytext-sync

--Make config file read templated to support future non-json files.
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Move Template-type independent code to Non-template base class.
  src/esp/core/CMakeLists.txt
  src/esp/core/ManagedContainer.h
  src/esp/core/ManagedContainerBase.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
Due: clang-format

--further generalize attributesManager create;
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
Due: clang-format

--Improved populating attributes from JSON
  src/esp/core/ManagedContainer.h
  src/esp/io/json.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/tests/AttributesManagersTest.cpp
  src/tests/IOTest.cpp
  src/tests/SimTest.cpp
Due: clang-format

--Managed Container refactor to support Metadata Mediator (#820)
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/AbstractManagedObject.h
  src/esp/core/CMakeLists.txt
  src/esp/core/ManagedContainer.h
  src/esp/core/ManagedContainerBase.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/io/json.h
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/tests/AttributesManagersTest.cpp
  src/tests/IOTest.cpp
  src/tests/SimTest.cpp
Due: jupytext-sync, clang-format

Add WebGL physics determinism test
  data/default.phys_scene_config.json
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/index.js
  src/esp/bindings_js/modules/defaults.js
  src/esp/bindings_js/modules/simenv_embind.js
  src/esp/bindings_js/modules/web_demo.js
  src/esp/bindings_js/tests/physics.test.js
  src/esp/bindings_js/tests/physics_determinism.json
  src/esp/bindings_js/tests/viewer_demo.visual.test.js
  tests/test_physics_determinism.py
Due: clang-format

Undo commented tests
  src/esp/bindings_js/tests/viewer_demo.visual.test.js
Due: none

Remove unused code
  tests/test_physics_determinism.py
Due: none

Add typehints and mypy static typing checks to habitat_sim (#813)
  .pre-commit-config.yaml
  habitat_sim/agent/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/default_controls.py
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/bindings/__init__.py
  habitat_sim/errors.py
  habitat_sim/logging.py
  habitat_sim/nav/greedy_geodesic_follower.py
  habitat_sim/registry.py
  habitat_sim/sensors/noise_models/gaussian_noise_model.py
  habitat_sim/sensors/noise_models/no_noise_model.py
  habitat_sim/sensors/noise_models/poisson_noise_model.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/sensors/noise_models/salt_and_pepper_noise_model.py
  habitat_sim/sensors/noise_models/sensor_noise_model.py
  habitat_sim/sensors/noise_models/speckle_noise_model.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  habitat_sim/utils/collect_env.py
  habitat_sim/utils/compare_profiles.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/profiling_utils.py
  habitat_sim/utils/viz_utils.py
  mypy.ini
  setup.cfg
  tests/test_data_extraction.py
Due: none

minor
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
Due: clang-format

fix for BulletRigidObject convex shapes
  src/esp/physics/bullet/BulletRigidObject.cpp
Due: clang-format

fix bugs
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/shaders/pbr.frag
  src/shaders/pbr.vert
Due: clang-format

We have it.
  src/esp/sim/Simulator.cpp
Due: clang-format

add getDefaultLights
  src/esp/gfx/LightSetup.cpp
  src/esp/gfx/LightSetup.h
  src/esp/sim/Simulator.cpp
Due: clang-format

Bug fixes
  .circleci/config.yml
  src/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/defaults.js
  src/esp/bindings_js/modules/navigate.js
  src/esp/bindings_js/modules/simenv_embind.js
Due: clang-format

Fix bugs
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/index.js
  src/esp/bindings_js/modules/navigate.js
  src/esp/bindings_js/modules/simenv_embind.js
  src/esp/bindings_js/tests/physics.test.js
Due: clang-format

fix bugs
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

fix bugs
  src/shaders/pbr.frag
  src/shaders/pbr.vert
Due: none

minor
  src/esp/gfx/PbrShader.cpp
Due: clang-format

change glVersion
  src/esp/gfx/PbrShader.cpp
Due: clang-format

fix bugs
  src/esp/assets/ResourceManager.cpp
Due: clang-format

fix bugs
  src/esp/gfx/PbrDrawable.cpp
Due: clang-format

remove "\" which causes compilation warning
  src/esp/assets/MeshData.h
Due: clang-format

fix bugs
  src/esp/assets/MeshData.h
  src/shaders/pbr.frag
Due: clang-format

Add np.isclose
  tests/test_physics_determinism.py
Due: none

remove "\" which causes compilation warning (#826)
  src/esp/assets/MeshData.h
Due: clang-format

add emissive texture, refactor some code
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

minor
  src/esp/gfx/MaterialData.h
Due: clang-format

fix texture transformation
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/PbrShader.cpp
Due: clang-format

minor
  src/esp/sim/Simulator.cpp
Due: clang-format

fix for BulletRigidObject convex shapes (#823)
  src/esp/physics/bullet/BulletRigidObject.cpp
Due: clang-format

add getDefaultLights (#829)
  src/esp/gfx/LightSetup.cpp
  src/esp/gfx/LightSetup.h
  src/esp/sim/Simulator.cpp
Due: clang-format

minor
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

Fix aabb loading
  src/esp/scene/Mp3dSemanticScene.cpp
Due: clang-format

More typefixes
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/logging.py
  habitat_sim/nav/greedy_geodesic_follower.py
  habitat_sim/registry.py
  habitat_sim/sensors/noise_models/no_noise_model.py
  habitat_sim/simulator.py
  habitat_sim/utils/compare_profiles.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/viz_utils.py
Due: none

some minor cleanup
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/registry.py
Due: none
