Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Merged C++ and python sim docs. Removed separate C++ docs index and pages. Added C++ API page to navigation bar instead of linking to C++ docs landing page.
  docs/Doxyfile
  docs/Doxyfile-mcss
  docs/Doxyfile-public
  docs/README.md
  docs/build-public.sh
  docs/build.sh
  docs/conf-public.py
  docs/conf.py
Due: none

Addressed comments
  habitat_sim/agent/__init__.py
  habitat_sim/agent/controls/__init__.py
  setup.cfg
  tests/test_data_extraction.py
Due: none

Revert bindings __init__.py
  habitat_sim/bindings/__init__.py
Due: none

--Rename all references to "scene" as static background mesh to Scenery.
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/SceneryAttributesManager.cpp
  src/esp/assets/managers/SceneryAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/CMakeLists.txt
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidScenery.cpp
  src/esp/physics/RigidScenery.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidScenery.cpp
  src/esp/physics/bullet/BulletRigidScenery.h
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_attributes_managers.py
Due: jupytext-sync, clang-format

Improve autoflake as commit hook (#755)
  .pre-commit-config.yaml
  setup.py
Due: none

Update deprecated isort pre-commit hook
  .pre-commit-config.yaml
Due: none

Seed isort is deprecated
  .pre-commit-config.yaml
Due: none

Remove comment from pre-commit-config
  .pre-commit-config.yaml
Due: none

Update flake8 config to ignore __init__ files
  setup.cfg
Due: none

Fix isort known_third_party setting
  pyproject.toml
Due: none

Remove useless isort args
  .circleci/config.yml
Due: none

Add .lgtm.yml config
  .lgtm.yml
Due: none

Address review comments
  docs/Doxyfile-mcss
  docs/build-public.sh
  docs/build.sh
  docs/conf.py
  docs/pages/index.rst
Due: none

comment
  docs/conf.py
Due: none

sort yaml and use local assimp
  .lgtm.yml
Due: none

Remove double comment
  .lgtm.yml
Due: none

Add remaining tests
  tests/test_controls.py
Due: none

Fix black error
  habitat_sim/agent/controls/default_controls.py
Due: none

Updated copyright year, moved tag file developer guide to docs README and deleted unused dox files.
  docs/README.md
  docs/build-public.sh
  docs/conf.py
  docs/developer-guide.dox
  docs/mainpage.dox
Due: none

Object picking for replica mesh (#745)
  src/esp/assets/PTexMeshData.cpp
  src/esp/assets/PTexMeshData.h
  src/esp/gfx/Drawable.h
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/PTexMeshDrawable.cpp
  src/esp/gfx/PTexMeshDrawable.h
  src/esp/gfx/PTexMeshShader.cpp
  src/esp/gfx/PTexMeshShader.h
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/shaders/ptex-default-gl410.frag
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Added Rotation around Z-axis to the defaults control. (#676)
  habitat_sim/agent/controls/default_controls.py
  tests/test_controls.py
Due: none

Add .lgtm.yml config (#761)
  .lgtm.yml
Due: none

add profiling_utils.py (#754)
  habitat_sim/utils/profiling_utils.py
  tests/test_profiling_utils.py
Due: none

Removed flexGLInit
  src/esp/sim/Simulator.cpp
Due: clang-format

Add compare_profiles.py (#753)
  habitat_sim/utils/compare_profiles.py
  tests/test_compare_profiles.py
Due: none

Added support for convex collision mesh generation for URDF imports.
  src/esp/assets/ResourceManager.cpp
  src/esp/physics/bullet/BulletBase.cpp
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletURDFImporter.cpp
  src/esp/physics/bullet/BulletURDFImporter.h
Due: clang-format

--Change rename from "scenery" to "stage"
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/CMakeLists.txt
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidStage.cpp
  src/esp/physics/RigidStage.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/physics/bullet/BulletRigidStage.h
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_attributes_managers.py
Due: jupytext-sync, clang-format

removed outdated reference to habitat-cpp docs directory in nightly docs build
  .circleci/config.yml
Due: none

--Missed 1 rename.
  src/esp/assets/managers/StageAttributesManager.h
Due: clang-format

--Rename all references to "scene" as static background mesh to "stage". (#758)
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/CMakeLists.txt
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidStage.cpp
  src/esp/physics/RigidStage.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/physics/bullet/BulletRigidStage.h
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_attributes_managers.py
Due: jupytext-sync, clang-format

Make all ipynb work locally
  examples/colab_utils/colab_install.sh
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Add path classifiers to .lgtm
  .lgtm.yml
Due: none

Remove unncessary glob
  .lgtm.yml
Due: none

Update black and lint repo
  .pre-commit-config.yaml
  habitat_sim/sensors/noise_models/gaussian_noise_model.py
  habitat_sim/sensors/noise_models/poisson_noise_model.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/sensors/noise_models/salt_and_pepper_noise_model.py
  habitat_sim/sensors/noise_models/sensor_noise_model.py
  habitat_sim/sensors/noise_models/speckle_noise_model.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/profiling_utils.py
  habitat_sim/utils/viz_utils.py
Due: none

Sort yaml
  .lgtm.yml
Due: none

Fix local ipynb and .lgtm (#763)
  .lgtm.yml
  .pre-commit-config.yaml
  examples/colab_utils/colab_install.sh
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  habitat_sim/sensors/noise_models/gaussian_noise_model.py
  habitat_sim/sensors/noise_models/poisson_noise_model.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/sensors/noise_models/salt_and_pepper_noise_model.py
  habitat_sim/sensors/noise_models/sensor_noise_model.py
  habitat_sim/sensors/noise_models/speckle_noise_model.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/profiling_utils.py
  habitat_sim/utils/viz_utils.py
Due: jupytext-sync

--Attributes Templates RST
  docs/conf.py
  docs/pages/attributes.rst
  docs/pages/index.rst
Due: none

--Add doc tags to attributes bindings.
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

--flesh out attributes property docstrings; add support for "max steps"
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
