Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

minor
  src/esp/gfx/PBRShader.cpp
  src/esp/gfx/PBRShader.h
Due: clang-format

minor
  src/esp/gfx/PBRShader.cpp
  src/esp/gfx/PBRShader.h
  src/shaders/pbr.frag
  src/shaders/pbr.vert
Due: clang-format

minor
  src/esp/gfx/PBRShader.cpp
Due: clang-format

TODO: move lightData out of PBRShader, and put it in the PBRDrawable
  src/esp/gfx/PBRShader.cpp
  src/esp/gfx/PBRShader.h
Due: clang-format

finished: PBRDrawable, PBRShader, shader code TODO: load and intialize PBR objects in the resource manager
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/PBRDrawable.cpp
  src/esp/gfx/PBRDrawable.h
  src/esp/gfx/PBRShader.cpp
  src/esp/gfx/PBRShader.h
  src/shaders/pbr.frag
Due: clang-format

Custom Pose Extraction Documentation (#637)
  docs/README.md
  docs/images/apt0-topdown.png
  docs/images/pytorch-dataset-example-output.png
  docs/images/random-images.png
  docs/images/semantic-segmentation-results.png
  docs/pages/image-extractor.rst
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  tests/test_data_extraction.py
Due: none

Add typehints to habitat_sim with monkeytype and pytest
  habitat_sim/agent/agent.py
  habitat_sim/agent/controls/default_controls.py
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/errors.py
  habitat_sim/logging.py
  habitat_sim/nav/greedy_geodesic_follower.py
  habitat_sim/sensors/noise_models/gaussian_noise_model.py
  habitat_sim/sensors/noise_models/no_noise_model.py
  habitat_sim/sensors/noise_models/poisson_noise_model.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/sensors/noise_models/salt_and_pepper_noise_model.py
  habitat_sim/sensors/noise_models/sensor_noise_model.py
  habitat_sim/sensors/noise_models/speckle_noise_model.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  habitat_sim/utils/collect_env.py
  habitat_sim/utils/compare_profiles.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/data_structures.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/profiling_utils.py
Due: none

Fixed some bad inferred typing
  habitat_sim/agent/agent.py
Due: none

Fix conditional import
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
Due: none

Refactor utils data_extractor
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
Due: none

Fix tests data_extrqction
  tests/test_data_extraction.py
Due: none

addressing reviewer's concerns, NOT FINISHED!
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrDrawable.h
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

addressing riewer's conerns: TODO: 1) textureMatrix; 2) light location uniform; 3) normal map scale;
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

Make mostly mypy compliant
  habitat_sim/agent/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/agent/controls/__init__.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/default_controls.py
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/bindings/__init__.py
  habitat_sim/logging.py
  habitat_sim/nav/greedy_geodesic_follower.py
  habitat_sim/registry.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/data_extractor.py
  setup.cfg
Due: none

Even more mypy compliance
  habitat_sim/agent/controls/__init__.py
  habitat_sim/utils/collect_env.py
  habitat_sim/utils/compare_profiles.py
  habitat_sim/utils/data/data_structures.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/profiling_utils.py
  setup.cfg
Due: none

add get_num_active_contact_points
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/sim/Simulator.h
Due: clang-format

update unit tests to use getNumActiveContactPoints()
  src/tests/PhysicsTest.cpp
Due: clang-format

fix for Bullet static objects/stage
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
Due: clang-format

Add pre-commit hook
  .pre-commit-config.yaml
  setup.cfg
Due: none

Fix pre-commit hook
  .pre-commit-config.yaml
Due: none

All mypy
  habitat_sim/logging.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/data_structures.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/viz_utils.py
  setup.cfg
Due: none

Clean setup.cfg
  setup.cfg
Due: none

Generic3D is used in the code
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.vert
Due: clang-format

addressed all the reviwer's concerns
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

improved
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

fully addressed reviewer's concerns
  src/esp/gfx/PbrDrawable.cpp
Due: clang-format

minor
  src/esp/gfx/PbrDrawable.cpp
Due: clang-format

fix bugs
  src/esp/gfx/PbrShader.cpp
Due: clang-format

minor
  src/esp/gfx/PbrShader.cpp
Due: clang-format

minor
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
Due: clang-format

Fix for Bullet static objects/stage and add get_num_active_contact_points, (#814)
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/sim/Simulator.h
  src/tests/PhysicsTest.cpp
Due: clang-format

--Move SimulatorConfiguration to separate file.
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/CMakeLists.txt
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.cpp
  src/esp/sim/SimulatorConfiguration.h
Due: clang-format

--Move SimulatorConfiguration to separate file. (#815)
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/CMakeLists.txt
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.cpp
  src/esp/sim/SimulatorConfiguration.h
Due: clang-format

--initial commit
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
Due: clang-format

--Remove RM from ManagedContainer; Create dataset attribs and manager
  src/esp/assets/ResourceManager.cpp
  src/esp/core/AbstractManagedObject.h
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/metadata/attributes/DatasetAttributes.cpp
  src/esp/metadata/attributes/DatasetAttributes.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Make config file read templated to support future non-json files.
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Further development
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/DatasetAttributes.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Promoted JSON load and path multiload and to base class template.
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/tests/SimTest.cpp
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
