Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

--Add python import for attributesManagers
  habitat_sim/attributes_managers.py
Due: none

Update doc build guide with required packages.
  docs/README.md
Due: none

--Tie into documentation automation.
  habitat_sim/__init__.py
  habitat_sim/attributes.py
  habitat_sim/attributes_managers.py
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

--Add attributes document tags, and automate attributesManagers documentation for website (#764)
  habitat_sim/__init__.py
  habitat_sim/attributes.py
  habitat_sim/attributes_managers.py
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Add an option to the viewer to disable the NavMesh
  src/utils/viewer/viewer.cpp
Due: clang-format

Add an option to the viewer to disable the NavMesh (#765)
  src/utils/viewer/viewer.cpp
Due: clang-format

--Move Attributes to their own directory and namespace.
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.h
  src/esp/assets/attributes/Attributes.cpp
  src/esp/assets/attributes/Attributes.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
  src/esp/sim/Simulator.cpp
  src/tests/CoreTest.cpp
Due: clang-format

--Break Attributes into separate files and slim down names.
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/attributes/AttributesBase.h
  src/esp/assets/attributes/ObjectAttributes.cpp
  src/esp/assets/attributes/ObjectAttributes.h
  src/esp/assets/attributes/PhysicsManagerAttributes.cpp
  src/esp/assets/attributes/PhysicsManagerAttributes.h
  src/esp/assets/attributes/PrimitiveAssetAttributes.cpp
  src/esp/assets/attributes/PrimitiveAssetAttributes.h
  src/esp/assets/attributes/SceneAttributes.cpp
  src/esp/assets/attributes/SceneAttributes.h
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.cpp
  src/esp/physics/RigidObject.h
  src/esp/physics/RigidStage.h
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/SimTest.cpp
Due: clang-format

--Fix python docs, tests and tutorials
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/attributes.py
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/sim/Simulator.cpp
  src/tests/CoreTest.cpp
  tests/test_configs.py
Due: jupytext-sync, clang-format

Added temporary RigidState getters for articulated links in python API. Added example to tutorial python file
  examples/tutorials/URDF_robotics_tutorial.py
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

increase epsilon for test_sensors.py pixel test
  tests/test_sensors.py
Due: none

--More refs to PhysicsObjectAttributes
  docs/pages/lighting-setups.rst
  tests/test_simulator.py
Due: none

--Rename base attributes object class for clarity
  habitat_sim/attributes.py
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/attributes/AttributesBase.h
  src/esp/assets/attributes/ObjectAttributes.cpp
  src/esp/assets/attributes/ObjectAttributes.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.cpp
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/physics/RigidBase.h
  src/tests/CoreTest.cpp
Due: clang-format

--Clarifying ambiguity of virtual method call in attributes ctor
  src/esp/assets/attributes/AttributesBase.h
  src/esp/assets/attributes/PrimitiveAssetAttributes.h
Due: clang-format

Enable flake8-bugbear plugin
  .circleci/config.yml
  .pre-commit-config.yaml
  examples/ab_test.py
  examples/benchmark.py
  examples/demo_runner.py
  examples/example.py
  examples/instance_segmentation/common.py
  examples/instance_segmentation/engine.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  habitat_sim/logging.py
  habitat_sim/utils/viz_utils.py
  setup.cfg
  tests/test_agent.py
  tests/test_data_extraction.py
Due: jupytext-sync

Fix a few more flake8-bugbear errors
  .gitignore
  .pre-commit-config.yaml
  requirements.txt
  setup.cfg
  setup.py
  src/esp/assets/BaseMesh.h
  src/esp/assets/CMakeLists.txt
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/StageAttributesManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/physics/RigidStage.cpp
  src/esp/physics/RigidStage.h
  src/tests/AttributesManagersTest.cpp
  src/tests/CMakeLists.txt
  src/tests/SimTest.cpp
  tools/npz2ids.py
Due: clang-format

Attempt to add pre-commit hooks to .circleci
  .circleci/config.yml
Due: none

Add job to .circleci
  .circleci/config.yml
Due: none

Add system dependencies for pre-commit
  .circleci/config.yml
Due: none

Skip system hooks
  .circleci/config.yml
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  src/esp/bindings/AttributesBindings.cpp
  tools/npz2scn.py
Due: clang-format

fix typo
  .circleci/config.yml
Due: none

Fix .circleci
  .circleci/config.yml
Due: none

Black notebooks
  .pre-commit-config.yaml
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  habitat_sim/utils/data/data_extractor.py
Due: jupytext-sync

Remove unused variable and fix clang-format
  .pre-commit-config.yaml
  habitat_sim/utils/viz_utils.py
Due: none

Remove another unused variable
  examples/instance_segmentation/common.py
Due: none

Fix bugs in AttributeManager
  .circleci/config.yml
  .pre-commit-config.yaml
  examples/instance_segmentation/common.py
  examples/instance_segmentation/engine.py
  setup.cfg
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  tests/test_pyrobot_noisy_controls.py
Due: clang-format

Fix set comprehensions
  habitat_sim/utils/data/data_extractor.py
  tools/npz2scn.py
Due: none

Fix EOF
  src/esp/assets/attributes/ObjectAttributes.cpp
  src/esp/assets/attributes/ObjectAttributes.h
  src/esp/assets/attributes/PhysicsManagerAttributes.cpp
  src/esp/assets/attributes/PhysicsManagerAttributes.h
  src/esp/assets/attributes/PrimitiveAssetAttributes.cpp
  src/esp/assets/attributes/PrimitiveAssetAttributes.h
  src/esp/assets/attributes/SceneAttributes.cpp
  src/esp/assets/attributes/SceneAttributes.h
Due: clang-format

minor tutorial scripts modifications to test iiwa
  examples/tutorials/URDF_robotics_tutorial.py
Due: none

comments; rename renderMesh to renderAsset; other polish
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/Drawable.h
  src/esp/gfx/MaterialData.h
  src/esp/gfx/MaterialUtil.cpp
  src/esp/gfx/MaterialUtil.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  tests/conftest.py
  tests/test_material.py
Due: clang-format

more material API polish
  examples/tutorials/material_tutorial.py
  habitat_sim/simulator.py
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  tests/test_material.py
Due: clang-format

refactor material tutorial to be a notebook
  examples/tutorials/nb_python/material_tutorial.py
Due: jupytext-sync

material WIP work, with code formatting
  examples/tutorials/material_tutorial.py
  habitat_sim/gfx.py
  habitat_sim/simulator.py
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/GfxBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/Drawable.h
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/GenericDrawable.h
  src/esp/gfx/MaterialData.cpp
  src/esp/gfx/MaterialData.h
  src/esp/gfx/MaterialUtil.cpp
  src/esp/gfx/MaterialUtil.h
  src/esp/gfx/ShaderManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  tests/conftest.py
  tests/test_material.py
Due: clang-format

add auto-generated material_tutorial.ipynb
  examples/tutorials/colabs/material_tutorial.ipynb
Due: jupytext-sync

get rid of PythonMaterial; tutorial polish; fix for clonePhongMaterial
  examples/tutorials/material_tutorial.py
  habitat_sim/gfx.py
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/MaterialData.cpp
  src/esp/gfx/MaterialData.h
  src/esp/gfx/MaterialUtil.cpp
  src/esp/gfx/MaterialUtil.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  tests/test_material.py
Due: clang-format

revert sim bindings
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
Due: clang-format

Fix true false errors
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

integrate material-editing into lighting tutorial
  docs/pages/lighting-setups.rst
  examples/tutorials/lighting_tutorial.py
Due: none

remove overrideObjectRenderAssetMaterial
  src/esp/sim/Simulator.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
