Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
        language_version: python3

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.0.7
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - black
            - isort
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

--precommit issues
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/metadata/attributes/DatasetAttributes.h
  src/esp/metadata/managers/DatasetAttributesManager.h
Due: clang-format

--remove object load from physics config; add MetadataMediator to sim
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  src/esp/assets/ResourceManager.cpp
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/SimTest.cpp
  src/utils/viewer/viewer.cpp
Due: jupytext-sync, clang-format

--precommit
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

--fixed test
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  tests/test_physics.py
Due: jupytext-sync

Fix mypy issues and add ini formatter
  .pre-commit-config.yaml
  habitat_sim/agent/controls/__init__.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  mypy.ini
  setup.cfg
Due: none

Add pretty-formatters and seperate out mypy to mypy.ini
  .pre-commit-config.yaml
  data/default.phys_scene_config.json
  data/test_assets/objects/chair.phys_properties.json
  data/test_assets/objects/donut.phys_properties.json
  data/test_assets/objects/nested_box.phys_properties.json
  data/test_assets/objects/sphere.phys_properties.json
  data/test_assets/scenes/stage_floor1.stage_config.json
  data/test_assets/testing.phys_scene_config.json
  mypy.ini
  setup.cfg
  tests/gt_data/17DRP5sb8fy-state.json
  tests/gt_data/skokloster-castle-state.json
  tests/gt_data/van-gogh-room-state.json
Due: none

Remove exclude pattern for data object JSONs
  .pre-commit-config.yaml
Due: none

reformat pre-commit yaml
  .pre-commit-config.yaml
Due: none

Autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: none

Reformat toml
  pyproject.toml
Due: none

Undo pretty-format changes
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  setup.cfg
Due: none

Revert pretty-format commits
  .pre-commit-config.yaml
  data/default.phys_scene_config.json
  data/test_assets/objects/chair.phys_properties.json
  data/test_assets/objects/donut.phys_properties.json
  data/test_assets/objects/nested_box.phys_properties.json
  data/test_assets/objects/sphere.phys_properties.json
  data/test_assets/scenes/stage_floor1.stage_config.json
  data/test_assets/testing.phys_scene_config.json
  tests/gt_data/17DRP5sb8fy-state.json
  tests/gt_data/skokloster-castle-state.json
  tests/gt_data/van-gogh-room-state.json
Due: none

--Prepare tests for MetadataMediator;
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
Due: clang-format

--Refactor load configs call.
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  src/esp/bindings/AttributesManagersBindings.cpp
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

--Handle setting a default object for Attributes Managers
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
Due: clang-format

--Prepare tests for MetadataMediator; (#818)
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
Due: clang-format

integrate PBR with the resourceManager
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrDrawable.h
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

minor
  src/esp/gfx/PbrDrawable.h
Due: clang-format

minor
  src/esp/gfx/PbrDrawable.cpp
Due: clang-format

minor
  src/esp/gfx/PbrShader.cpp
Due: clang-format

--Refactor load configs call. (#817)
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  src/esp/bindings/AttributesManagersBindings.cpp
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

--reviewer comments/spelling error.
  src/esp/metadata/managers/AssetAttributesManager.h
Due: clang-format

--Handle setting a default object for Attributes Managers (#819)
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
Due: clang-format

--Remove RM from ManagedContainer; Create dataset attribs and manager
  src/esp/assets/ResourceManager.cpp
  src/esp/core/AbstractManagedObject.h
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/metadata/attributes/DatasetAttributes.cpp
  src/esp/metadata/attributes/DatasetAttributes.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--initial commit
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
Due: clang-format

--Further development
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/DatasetAttributes.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Promoted JSON load and path multiload and to base class template.
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/tests/SimTest.cpp
Due: jupytext-sync, clang-format

--Make config file read templated to support future non-json files.
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--remove object load from physics config; add MetadataMediator to sim
  src/esp/assets/ResourceManager.cpp
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/SimTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

--Improved populating attributes from JSON
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Moved template type-independent code to non-template base class.
  src/esp/core/CMakeLists.txt
  src/esp/core/ManagedContainer.h
  src/esp/core/ManagedContainerBase.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.h
Due: clang-format

--Made getter in base class templated.
  src/esp/core/ManagedContainer.h
  src/esp/core/ManagedContainerBase.cpp
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.h
Due: clang-format

--further generalize attributesMgrs' create; datasetAttr create
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

--Complete first pass of code for parsing Dataset_Config.json.
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
Due: clang-format

--Modularized JSON processing; stub datasetAttributesMgr code
  src/esp/core/ManagedContainer.h
  src/esp/io/json.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/tests/AttributesManagersTest.cpp
  src/tests/IOTest.cpp
  src/tests/SimTest.cpp
Due: clang-format

--Handle default object setting.
  src/esp/core/ManagedContainer.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
Due: clang-format

--Further development on dataset configuration parsing.
  src/esp/core/ManagedContainer.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/DatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Remove RM refs to attributes managers; Pass MM to RM in ctor
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/sim/Simulator.cpp
  src/tests/AttributesManagersTest.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
Due: clang-format

--add handling lights attributes and manager for them.
  src/esp/bindings/AttributesBindings.cpp
  src/esp/core/ManagedContainer.h
  src/esp/core/ManagedContainerBase.h
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/attributes/DatasetAttributes.h
  src/esp/metadata/attributes/LightAttributes.cpp
  src/esp/metadata/attributes/LightAttributes.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/DatasetAttributesManager.cpp
  src/esp/metadata/managers/LightAttributesManager.cpp
  src/esp/metadata/managers/LightAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format
