Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

remove nb material tutorial
  examples/tutorials/colabs/material_tutorial.ipynb
  examples/tutorials/nb_python/material_tutorial.py
Due: jupytext-sync

add transform_box.phys_properties.json
  data/test_assets/objects/transform_box.phys_properties.json
Due: none

polish
  src/esp/sim/Simulator.h
  tests/test_material.py
Due: clang-format

increase epsilon for test_sensors.py pixel test (#767)
  tests/test_sensors.py
Due: none

refactor landing page to include ECCV tutorials and selected unit tests
  docs/pages/index.rst
Due: none

Ignore C408
  setup.cfg
Due: none

Ignore C402 and C403
  setup.cfg
Due: none

Meant C401 and C402
  setup.cfg
Due: none

Add cmake-format pre-commit hook and cicheck
  .pre-commit-config.yaml
  src/CMakeLists.txt
  src/cmake/FindAssimp.cmake
  src/cmake/FindCorrade.cmake
  src/cmake/FindEGL.cmake
  src/cmake/FindGLFW.cmake
  src/cmake/FindImGui.cmake
  src/cmake/FindMagnum.cmake
  src/cmake/FindMagnumBindings.cmake
  src/cmake/FindMagnumIntegration.cmake
  src/cmake/FindMagnumPlugins.cmake
  src/cmake/dependencies.cmake
  src/tests/CMakeLists.txt
  src/utils/datatool/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

Commit cmake-format config
  .cmake-format.py
Due: none

Fix typos and add missing cmake-formats
  .pre-commit-config.yaml
  src/esp/CMakeLists.txt
  src/esp/agent/CMakeLists.txt
  src/esp/assets/CMakeLists.txt
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/test/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/esp/sim/CMakeLists.txt
Due: none

Rendering through sensor object, actions through simulator, removed other unnecessary items.
  src/utils/viewer/simviewer.cpp
Due: clang-format

Update cmake-format to ignore Find CMake files
  .cmake-format.py
  .pre-commit-config.yaml
  src/cmake/FindAssimp.cmake
  src/cmake/FindCorrade.cmake
  src/cmake/FindEGL.cmake
  src/cmake/FindGLFW.cmake
  src/cmake/FindImGui.cmake
  src/cmake/FindMagnum.cmake
  src/cmake/FindMagnumBindings.cmake
  src/cmake/FindMagnumIntegration.cmake
  src/cmake/FindMagnumPlugins.cmake
  src/esp/assets/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/scene/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

Update tests/test_pyrobot_noisy_controls.py
  tests/test_pyrobot_noisy_controls.py
Due: none

Update examples/instance_segmentation/common.py
  examples/instance_segmentation/common.py
Due: none

blacken tests
  tests/test_pyrobot_noisy_controls.py
Due: none

fix stretch on resize by setting camera aspectRatioPolicy to Extend
  src/esp/gfx/RenderTarget.h
  src/utils/viewer/simviewer.cpp
Due: clang-format

Added complete set of viewer agent actions and cache visible Drawables after culling in RenderCamera
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/utils/viewer/simviewer.cpp
Due: clang-format

Moved agent state logging to `Q` key. Updated mouse camera control
  src/utils/viewer/simviewer.cpp
Due: clang-format

Added physicsDebugDraw to Simulator for viewer use.
  src/esp/sim/Simulator.h
  src/utils/viewer/simviewer.cpp
Due: clang-format

Added applyImpulse to Simulator for viewer
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/simviewer.cpp
Due: clang-format

Collapse changes into viewer
  setup.py
  src/utils/viewer/CMakeLists.txt
  src/utils/viewer/simviewer.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

polish
  docs/pages/index.rst
Due: none

Refactor Docs landing page to include ECCV tutorials and selected unit tests (#770)
  docs/pages/index.rst
Due: none

Adjust cmake-format settings
  .cmake-format.py
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  src/esp/assets/CMakeLists.txt
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/test/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

Simplify cmake-format to better match our preferences.
  .cmake-format.py
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  src/esp/CMakeLists.txt
  src/esp/assets/CMakeLists.txt
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/test/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

Clean up .pre-commit and cmake-format
  .cmake-format.py
  .pre-commit-config.yaml
Due: none

enable autosort cmake-format feature
  .cmake-format.py
  src/esp/physics/bullet/CMakeLists.txt
Due: none

Attempt to fix pre-commit hooks
  .pre-commit-config.yaml
Due: none

Added default settings for NavMeshSettings constructor. Added help text in viewer. Fixed handling for Viewer commandline args.
  src/esp/nav/PathFinder.h
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/utils/viewer/viewer.cpp
Due: clang-format

Changed config to mosra's specification
  .cmake-format.py
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  src/esp/agent/CMakeLists.txt
  src/esp/assets/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/esp/sim/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/datatool/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

always wrap add_library too
  .cmake-format.py
  src/esp/agent/CMakeLists.txt
  src/esp/assets/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/esp/sim/CMakeLists.txt
Due: none

reduce min indent to two
  .cmake-format.py
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  src/esp/assets/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
Due: none

always wrap find_package
  .cmake-format.py
  src/cmake/dependencies.cmake
  src/esp/bindings/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/test/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

revert find_package
  .cmake-format.py
Due: none

final config tweaks
  .cmake-format.py
  src/cmake/dependencies.cmake
  src/esp/bindings/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/test/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
Due: none

Add CMake-format pre-commit hooks and linters (#771)
  .cmake-format.py
  .pre-commit-config.yaml
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  src/esp/CMakeLists.txt
  src/esp/agent/CMakeLists.txt
  src/esp/assets/CMakeLists.txt
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings_js/CMakeLists.txt
  src/esp/core/CMakeLists.txt
  src/esp/geo/CMakeLists.txt
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/test/CMakeLists.txt
  src/esp/io/CMakeLists.txt
  src/esp/nav/CMakeLists.txt
  src/esp/nav/test/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/scene/CMakeLists.txt
  src/esp/scene/test/CMakeLists.txt
  src/esp/sensor/CMakeLists.txt
  src/esp/sim/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/datatool/CMakeLists.txt
  src/utils/viewer/CMakeLists.txt
  tests/test_pyrobot_noisy_controls.py
Due: none

Address reviews
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
