Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
        language_version: python3

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.0.7
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - black
            - isort
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

Fix refactor error
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Bugfix for interactivity tutorial
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

minor
  src/esp/gfx/Drawable.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Ran static analysis on colabs
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Add autoflake precommit hook
  .pre-commit-config.yaml
  examples/ab_test.py
  examples/demo_runner.py
  examples/tutorials/stereo_agent.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/default_controls.py
  habitat_sim/sensors/noise_models/sensor_noise_model.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/viz_utils.py
  tests/test_examples.py
  tests/test_gfx.py
  tests/test_greedy_follower.py
  tests/test_navmesh.py
Due: none

Fix leftover print
  setup.py
Due: none

minor
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/PTexMeshDrawable.cpp
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/utils/viewer/viewer.cpp
Due: clang-format

improve the comment
  src/esp/gfx/RenderCamera.h
Due: clang-format

simplify the code
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/PTexMeshDrawable.cpp
Due: clang-format

Remove useless sliders
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Added Habitat-Lab link as experiment framework to Readme
  README.md
Due: none

Add back num_rings
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Revert comments and slider
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Viz_utils bugfix
  habitat_sim/utils/viz_utils.py
Due: none

Fix refactor error in ECCV Adv Tutorial (#749)
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  habitat_sim/utils/viz_utils.py
Due: jupytext-sync

Expand * imports
  habitat_sim/__init__.py
Due: none

Added simviewer application to start conversion to viewer with Simulator class.
  setup.py
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/CMakeLists.txt
Due: clang-format

Undo start glob expansion
  habitat_sim/__init__.py
Due: none

Improve pre-commit hook
  .pre-commit-config.yaml
Due: none

Add the new simviewer (will be removed and merged into viewer for final)
  src/utils/viewer/simviewer.cpp
Due: clang-format

Further improve pre-commit hooks
  .pre-commit-config.yaml
Due: none

Added Habitat-Lab link as experiment framework to Readme (#751)
  README.md
Due: none

Add autoflake precommit hook (#750)
  .pre-commit-config.yaml
  examples/ab_test.py
  examples/demo_runner.py
  examples/tutorials/stereo_agent.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/default_controls.py
  habitat_sim/sensors/noise_models/sensor_noise_model.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  habitat_sim/utils/viz_utils.py
  tests/test_examples.py
  tests/test_gfx.py
  tests/test_greedy_follower.py
  tests/test_navmesh.py
Due: none

Fix pip install and shlex in setup.py (#748)
  setup.py
Due: none

add compare_profiles.py
  habitat_sim/utils/compare_profiles.py
Due: none

add test_compare_profiles.py
  tests/test_compare_profiles.py
Due: none

add profiling_utils.py and test_profiling_utils.py
  habitat_sim/utils/__init__.py
  habitat_sim/utils/profiling_utils.py
  tests/test_profiling_utils.py
Due: none

add comments
  src/esp/assets/PTexMeshData.cpp
Due: clang-format

Improve autoflake as commit hook
  .pre-commit-config.yaml
  setup.py
Due: none

First round of flake8
  examples/ab_test.py
  examples/benchmark.py
  examples/example.py
  examples/instance_segmentation/engine.py
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/__init__.py
  habitat_sim/agent/controls/__init__.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/errors.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/data_extractor.py
  tests/test_agent.py
  tests/test_controls.py
  tests/test_data_extraction.py
  tests/test_gfx.py
  tests/test_navmesh.py
  tests/test_random_seed.py
  tests/test_semantic_scene.py
  tests/test_sensors.py
  tests/test_snap_point.py
Due: none

Added submodule update instructions to README
  README.md
Due: none

Flake8 and Bugfixes
  .pre-commit-config.yaml
  examples/instance_segmentation/common.py
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/new_actions.py
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/__init__.py
  habitat_sim/agent/__init__.py
  habitat_sim/agent/controls/__init__.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/bindings/__init__.py
  habitat_sim/nav/greedy_geodesic_follower.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/__init__.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  tests/test_data_extraction.py
  tests/test_gfx.py
  tests/test_physics.py
  tests/test_pyrobot_noisy_controls.py
  tests/test_sensors.py
  tests/test_simulator.py
Due: jupytext-sync

Add flake8 hook
  .pre-commit-config.yaml
Due: none

remove profiling_utils from utils.__all__
  habitat_sim/utils/__init__.py
Due: none

Make black and isort agree
  habitat_sim/bindings/__init__.py
Due: none

Move config to setup.cf and add to circleci
  .circleci/config.yml
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

Fix .circelci
  .circleci/config.yml
Due: none

Fix isort
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Enable linters on more __init__ files
  habitat_sim/agent/__init__.py
  habitat_sim/bindings/__init__.py
Due: none

Remove extra agent
  habitat_sim/simulator.py
Due: none
